{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>융스토랑</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href='{% static 'restaurant/css/styles.css' %}'>
</head>
<body>
  <div> {{date}} </div>
  <hr/>

  <h1>융스토랑</h1>
  <h2>넌 코딩할때가 제일 이뻐</h2>
  
  <div class="food-container">
    {% for menu in menus %}
    <div class="food">
      <img src={% get_static_prefix %}{{menu.img_path}} width="300px" height="200px"/>
      <div class="info">
        <h3>{{menu.name}}</h3>
        <P>{{menu.description}}</p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    {% endfor %}
  </div>
    
    
</body>
</html>